ul.navbar {
  list-style-type: none;
  background-color: rgb(2, 29, 227);;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul.navbar li {
  float: left;
}

ul.navbar li a {
  display: block;
  color: white;
  padding: 16px 40px;
  text-decoration: none;
  text-align: center;
}

ul.navbar li a:hover {
  background-color: rgb(0, 14, 123);
  transition-duration: .5s;
}