.navbar {
  position: fixed;
  width: 100%;
}

.navbar ul {
  list-style-type: none;
  background-color: rgb(33, 29, 50);
  overflow: hidden;
  margin-top: -10px;
  margin-left: -10px;
  margin-right: -10px;
}

.navbar ul li {
  float: left;
}

.navbar ul li a {
  display: block;
  color: white;
  padding: 20px 40px;
  border-radius: 15px;
  text-decoration: none;
  text-align: center;
  font-size: 19px;
}

.navbar ul li a span:hover {
  color: rgb(0, 200, 255);
  transition-duration: .5s;
  cursor: none;
}

.navbar ul i {
  margin-top: 5px;
  font-size: 50px;
  margin-left: 10px;
  color: rgb(34, 255, 0);
  padding-right: 15px;
}

.navbar ul i:hover {
  color: rgb(0, 200, 255);
  transition-duration: .5s;
}

@media only screen and (max-width: 768px) {
  .navbar ul li a span {
      
      display: none;
  }
}