.politician-card {
  height: 250px;
  width: 200px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  margin: 20px;
  margin-bottom: 40px;
  float: left;
}

.politician-card img {
  margin-top: 0px;
  margin-bottom: -4px;
  height: 200px;
  width: 200px;
}

.politician-card:hover {
  transition-duration: .5s;
}

.container {
  padding: 30px;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}