.politician-card {
  height: 250px;
  width: 200px;
  box-shadow: 0 14px 18px 2px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
  text-align: center;
  margin: 50px;
  margin-bottom: 120px;
  margin-top: 100px;
  float: left;
  border-radius: 10px;
}

.politician-card h2 {
  color: white;
  margin-top: 0;
  background-color: rgb(33, 29, 50);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 3px;  
}

.politician-card h2:hover{
  color: rgb(0, 200, 255);
  transition: .5s;
}

.politician-card img {
  height: 200px;
  width: 200px;
}

.container {
  margin-top: -6%;
  padding: 5%;
  background-color: rgb(33, 29, 50);
  box-shadow: 0 14px 18px 2px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  color: white;
  font-size: 15px;  
}

.politician-card p:hover{
  color: rgb(0, 200, 255);
  transition: .5s;
  cursor: pointer;
}

.politician-card h4:hover{
  color: rgb(0, 200, 255);
  transition: .5s;
}